.build
Pods/
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
*.xcbkptlist
cmake-build-debug/
xcuserdata/

# Xcode private settings (window sizes, bookmarks, breakpoints, custom executables, smart groups)
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3


# OS X temporary files
*.DS_Store
*.swp
*.lock
profile
.nib
DerivedData/
Builds/
vendor/


.idea/workspace.xml
.idea

# fastlane

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/README.md

test-ci-secrets.json

node_modules

# appium
appium/node_modules
appium/tmp
appium/.env
appium/FlowCrypt.app
appium/FlowCryptOld.app
appium/video

Scripts/gmp