--rules trailingSpace
--rules blankLinesAtEndOfScope
--rules consecutiveBlankLines
--rules consecutiveSpaces
--rules duplicateImports
--rules isEmpty
--rules spaceAroundBraces
--rules spaceAroundBrackets
--rules spaceAroundGenerics
--rules spaceInsideBraces
--rules spaceInsideGenerics
--rules redundantBreak
--rules redundantFileprivate
--rules redundantGet
--rules redundantLet
--rules redundantLetError
--rules redundantNilInit
--rules redundantVoidReturnType
--rules redundantPattern
--rules redundantExtensionACL
--rules leadingDelimiters
--rules semicolons
--rules strongifiedSelf
--rules void
