--disable blankLinesAroundMark
--disable blankLinesAtStartOfScope
--disable redundantSelf
--disable redundantReturn
--disable trailingCommas
--disable unusedArguments
--disable wrapMultilineStatementBraces

--exclude Core