<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582859538910-l1sk188r56a5b91n572ul88vc4g2nm1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582859538910-l1sk188r56a5b91n572ul88vc4g2nm1p</string>
	<key>API_KEY</key>
	<string>AIzaSyBq5dOxbZjFWTE70Ri_RWBVakfiDupFruw</string>
	<key>GCM_SENDER_ID</key>
	<string>582859538910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flowcrypt.ios.debug</string>
	<key>PROJECT_ID</key>
	<string>flowcrypt-477c2</string>
	<key>STORAGE_BUCKET</key>
	<string>flowcrypt-477c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582859538910:ios:1fc98e124b4d797f8d9d4f</string>
</dict>
</plist>